{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial,Helvetica,sans-serif;
}
body{
    background-color: #ffffff;
}
.about{
    padding: 80px 10%;
}
.about-container{
    display:flex;
    align-items: center;
    gap: 50px;
}
.about-image img{
    width: 280px;
    border-radius: 5px;
}
.about-text h2{
    font-size: 36px;
    color: #555;
    line-height: 1.6;
    margin-bottom: 25px;
}
.btn{
    padding: 10px 22px;
    border:1px solid #0a3c3c;
    color: #0a3c3c;
    text-decoration: none;
    transition: 0.3s;
}
.btn:hover{
    background-color: #0a3c3c;
    color: white;
}